<section>
    <h1>quiz</h1>
    <article *ngIf="node | async as nodeObj">
        <app-form *ngIf="loaded && nodeObj.nodeType === 'Form'" [info]='nodeObj'></app-form>
        <app-logic *ngIf="loaded && nodeObj.nodeType === 'Logic'" [info]='nodeObj'></app-logic>
        <app-question *ngIf="loaded && nodeObj.nodeType === 'Question'" [info]='nodeObj' ></app-question>
        <app-interstitial *ngIf="loaded && nodeObj.nodeType === 'Interstitial'" [info]='nodeObj'></app-interstitial>
        <app-multiple-choice *ngIf="loaded && nodeObj.nodeType === 'MultipleChoice'" [info]='nodeObj'></app-multiple-choice>
    </article>
</section>