<h1>survey</h1>

<ng-container *ngIf="!loading; else loadingTpl">

  <section *ngIf="question && question.id">
      <h1>question</h1>
      <app-form *ngIf="question.nodeType === 'Form'" [info]='question'></app-form>
      <app-logic *ngIf="question.nodeType === 'Logic'" [info]='question'></app-logic>
      <app-question *ngIf="question.nodeType === 'Question'" [info]='question'></app-question>
      <app-interstitial *ngIf="question.nodeType === 'Interstitial'" [info]='question'></app-interstitial>
      <app-multiple-choice *ngIf="question.nodeType === 'MultipleChoice'" [info]='question'></app-multiple-choice>
  </section>

</ng-container>

<ng-template #loadingTpl>
  <h1>loading...</h1>
</ng-template>
