
<ng-container *ngIf="!(isLoading$ | async); else loadingTpl">
  <section *ngIf="(question$ | async) as question">
    <app-progress-bar></app-progress-bar>
      <app-form *ngIf="question.nodeType === 'Form'" [info]='question'></app-form>
      <app-logic *ngIf="question.nodeType === 'Logic'" [info]='question'></app-logic>
      <app-question *ngIf="question.nodeType === 'Question'" [info]='question'></app-question>
      <app-interstitial *ngIf="question.nodeType === 'Interstitial'" [info]='question'></app-interstitial>
      <app-multiple-choice *ngIf="question.nodeType === 'MultipleChoice'" [info]='question'></app-multiple-choice>
  </section>

</ng-container>

<ng-template #loadingTpl>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.6)" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
</ng-template>
