<p>form</p>
<ng-container *ngIf="info; else loadingTpl">
    <div *ngFor="let f of info.nodeTemplateForm">
        <input class="bg-white border border-gray-300 rounded-lg py-2 px-4 appearance-none leading-normal" *ngIf="f.type === 'Input'" type="text" [placeholder]="f.placeholder" />
    </div>
    <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{info.submit.text}}</button>
    <hr>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="nodePrev()">back</button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="nodeNext()">next</button>
</ng-container>

<ng-template #loadingTpl>
  <h1>loading...</h1>
</ng-template>
