<section class="border-gray-400 border-b">
    <header class="container mx-auto">
        <nav class="flex justify-between items-center h-16">
            <div class="flex-1 "></div>
            <div class="flex-1 text-center">
                <img class="inline-block" src="assets/logo@2x.png" alt="logo"/>
            </div>
            <div class="flex-1 text-right">
                <button class="hover:bg-gray-400 text-gray-800 py-2 px-4 rounded">CART</button>
            </div>
        </nav>
    </header>
</section>