<p>question</p>
<ng-container  *ngIf="info | async as nodeObj; else loadingTpl">

<h1>{{nodeObj.question}}</h1>
<div *ngFor="let a of nodeObj.answers">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{a.text}}</button>
</div>
<hr>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="nodePrev()">back</button>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="nodeNext()">next</button>
</ng-container>

<ng-template #loadingTpl>
  <h1>loading...</h1>
</ng-template>
